.card {
  height: 75vh;
  overflow-y: hidden;
  background: var(--color-card-background);
  padding: 2rem;
  border-radius: 10px;
}

.card header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.repoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  height: 100%;
  padding-block: 2rem 4rem;
  overflow: auto;
}

.repo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--background-color);
  border-radius: 10px;
  padding: 1rem;
}

.repo header {
  margin-bottom: 1.5rem;
}

.repo a {
  display: flex;
  align-items: center;
}

.repoName {
  margin: 0;
  margin-left: 0.5rem;
  font-weight: var(--fontWeight-bold);
  color: var(--primary-color);
}

.repoDesc {
  font-size: var(--fontSize-0);
  line-height: var(--lineHeight-normal);
}

.repo > main p {
  margin: 0;
}

.repo > main {
  margin-bottom: 1.5rem;
}

.repo > footer {
  font-size: var(--fontSize-0);
  color: var(--color-text-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
