.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  font-size: var(--fontSize-9);
}

.bannerContainer p {
  margin-bottom: 0;
  font-size: var(--fontSize-3);
  color: var(--color-text-light);
}

.bannerContainer h1 {
  font-size: var(--fontSize-9);
  color: var(--primary-color);
}

.bannerContainer h2 {
  font-size: var(--fontSize-7);
  color: var(--color-text-light);
}

.bannerTitle span {
  display: inline-block;
}

.bio p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.bioTop {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 1rem;
  margin-bottom: 8rem;
  background: none;
}

.brief {
  margin-left: 4rem;
  font-size: var(--fontSize-7);
  font-weight: var(--fontWeight-black);
}

.brief p {
  line-height: var(--lineHeight-normal);
  max-width: 960px;
}

.bioBottom {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.tech {
  padding: 2rem;
  border-radius: 10px;
  background: var(--color-card-background);
  height: fit-content;
}

.techList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 0.5rem;
}

.articleHeading {
  margin-bottom: 2rem;
}

.techItem {
  position: relative;
  padding: 0.6rem 1rem;
  background: var(--background-color);
  border-radius: 5px;
  font-size: var(--fontSize-0);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.techItem > div {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  transform-origin: 90% 50%;
  transition: all 300ms;
}

[data-type="front"] {
  background: var(--color-stack-front);
}
[data-type="back"] {
  background: var(--color-stack-back);
}
[data-type="style"] {
  background: var(--color-stack-style);
}
[data-type="animation"] {
  background: var(--color-stack-animation);
}
[data-type="cms"] {
  background: var(--color-stack-cms);
}

.sectionHeading {
  font-size: var(--fontSize-9);
  color: var(--primary-color);
  margin-bottom: 8rem;
}

.indexSection:not(.banner) {
  position: relative;
  margin-bottom: 12rem;
}

.indexSection::selection {
  background: var(--primary-color);
  color: var(--background-color);
}

.wipList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}

.wipItem {
  padding: 2rem;
  background: var(--color-card-background);
  border-radius: 10px;
}

.wipItem > article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wipItem h3 {
  color: var(--primary-color);
}

.wipItem header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.wipItem main {
  margin-bottom: 4rem;
}
