@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.cursor {
  animation: blink 1s infinite steps(1);
}

.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  font-size: var(--fontSize-9);
}

.bannerContainer p {
  margin-bottom: 0;
  font-size: var(--fontSize-3);
  color: var(--color-text-light);
}

.bannerContainer h1 {
  font-size: var(--fontSize-9);
  color: var(--primary-color);
  line-height: var(--lineHeight-tight);
  /* margin-bottom: 2.5rem; */
}

.bannerContainer h2 {
  font-size: var(--fontSize-9);
  color: var(--color-text-light);
  line-height: var(--lineHeight-tight);
}

.bannerTitle span {
  display: inline-block;
}

.brief {
  font-size: var(--fontSize-8);
  font-weight: var(--fontWeight-black);
}

.brief p {
  line-height: var(--lineHeight-tight);
}

.brief p:first-of-type {
  margin-bottom: 2rem;
}

.tech {
  margin-block: 15rem;
}

.tech p:first-child {
  margin-bottom: 0;
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-7);
  color: var(--color-text-light);
}

.tech p:last-child {
  word-wrap: normal;
  line-height: var(--lineHeight-tight);
}

.techLink {
  font-size: var(--fontSize-8);
  font-weight: var(--fontWeight-black);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
  letter-spacing: 1px;
  transition: text-fill-color 200ms;
}

.techLink:hover {
  -webkit-text-fill-color: var(--primary-color);
  -webkit-text-stroke-color: transparent;
}

.articleHeading {
  margin-bottom: 2rem;
}

.techItem {
  position: relative;
  padding: 0.6rem 1rem;
  background: var(--background-color);
  border-radius: 5px;
  font-size: var(--fontSize-0);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionHeading {
  font-size: var(--fontSize-9);
  color: var(--primary-color);
  margin-bottom: 6rem;
}

.indexSection:not(.banner) {
  position: relative;
  margin-bottom: 12rem;
}

.indexSection::selection {
  background: var(--primary-color);
  color: var(--background-color);
}

.wipList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}

.wipItem {
  padding: 2rem;
  background: var(--color-card-background);
  border-radius: 10px;
}

.wipItem > article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wipItem h3 {
  color: var(--primary-color);
}

.wipItem header {
  margin-bottom: 2.5rem;
}

.wipItem main {
  margin-bottom: 4rem;
}

@media (max-width: 800px) {
  .indexSection:not(.banner) {
    margin-bottom: 8rem;
  }

  .tech {
    margin-block: 6rem;
  }
}

@media (max-width: 450px) {
  .sectionHeading {
    margin-bottom: 4rem;
  }

  .brief {
    font-size: 2rem;
  }

  .wipList {
    grid-template-columns: 1fr;
  }
}
