.layout {
  position: relative;
  background: var(--background-color);
  margin: 0 auto;
  width: 84%;
  max-width: var(--maxWidth-xxl);
}

.layout > main {
  padding: 0 var(--padding-content-inline);
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 2rem var(--padding-content-inline);
  display: none;
  justify-content: flex-end;
  align-items: center;
  z-index: 9;
}

.header h1 {
  color: var(--primary-color);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  font-weight: var(--fontWeight-black);
}
