.menu {
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 8%;
  top: 50%;
  padding-right: 2rem;
  transform: translateY(-50%);
  right: 0;
  color: var(--primary-color);
  white-space: nowrap;
}

.menu nav li {
  text-align: right;
  font-size: var(--fontSize-2);
}

.menu nav li:not(:last-child) {
  margin-bottom: 1rem;
}

.scrollbar {
  position: absolute;
  top: 0;
  right: -16px;
  width: 4px;
  height: 23px;
  background: var(--primary-color);
  border-radius: 2px;
  will-change: transform;
  transition: all 350ms;
}
