.menu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  color: var(--primary-color);
}

.menu nav li {
  text-align: right;
  font-size: var(--fontSize-2);
  margin: 1rem 0;
}
