.post {
  /* max-width: 960px; */
}

.post:not(:last-of-type) {
  margin-bottom: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  color: var(--primary-color);
  font-size: var(--fontSize-7);
}

.date {
  font-size: var(--fontSize-1);
  color: rgb(188, 188, 188);
}

.excerpt {
  max-width: 700px;
  font-weight: var(--fontWeight-normal);
  font-size: var(--fontSize-2);
}

.tag {
  display: inline;
  margin-right: 1rem;
  font-size: var(--fontSize-1);
}
