.project {
  position: relative;
  height: 650px;
  overflow: hidden;
}

.project:not(:last-of-type) {
  margin-bottom: 6rem;
}

@media (max-width: 1600px) {
  .project:not(:last-of-type) {
    margin-bottom: 9rem;
  }
}

@media (max-width: 960px) {
  .project:not(:last-of-type) {
    margin-bottom: 4rem;
  }
}

@media (max-width: 800px) {
  .project {
    height: unset;
  }
}
