/* Project */

.project {
  position: relative;
  height: 650px;
  overflow: hidden;
}

.project:not(:last-of-type) {
  margin-bottom: 10rem;
}

/* Image */

.image {
  position: absolute !important;
  right: 0;
  border-radius: 10px;
  width: 70%;
}

.even .image {
  right: unset;
  left: 0;
}

/* Text */

.text {
  position: absolute;
  top: 50%;
  width: fit-content;
  transform: translateY(-50%);
  left: 1rem;
  padding: 2.5rem 4rem;
  background: var(--color-card-background);
  border-radius: 10px;
  box-shadow: 0 0 99px rgba(0, 0, 0, 0.1);
}

.even .text {
  left: unset;
  right: 1rem;
}

.header span {
  font-weight: var(--fontWeight-normal);
  font-size: var(--fontSize-0);
  color: var(--color-text-light);
}

.title {
  font-size: var(--fontSize-6);
  color: var(--primary-color);
  line-height: var(--lineHeight-tight);
  margin-bottom: 2rem;
}

.description {
  max-width: 600px;
  margin-bottom: 4rem;
  font-weight: var(--fontWeight-normal);
  font-size: var(--fontSize-1);
}

.text footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap-reverse;
}

.even .text footer {
  flex-direction: row-reverse;
}

.stackItem {
  display: inline;
  font-size: var(--fontSize-1);
  font-weight: var(--fontWeight-normal);
  color: var(--primary-color);
}

.stackItem:not(:last-of-type) {
  margin-right: 0.5rem;
}

.link {
  position: relative;
}

.tooltip {
  position: absolute;
  top: -50px;
  left: 50%;
  padding: 7px 16px;
  transform: translate(-50%, 10px);
  background: var(--background-color);
  font-size: var(--fontSize-0);
  font-weight: var(--fontWeight-black);
  border-radius: 3px;
  white-space: nowrap;
  letter-spacing: 1px;
  opacity: 0;
  pointer-events: none;
  transition: all 500ms;
}

.tooltip:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%) rotate(45deg);
  height: 10px;
  width: 10px;
  background: inherit;
}

.link:hover .tooltip {
  opacity: 1;
  transform: translate(-50%, 0);
}

/* Queries */

@media (pointer: coarse) {
  .tooltip {
    display: none;
  }
}

@media (max-width: 1600px) {
  .project:not(:last-of-type) {
    margin-bottom: 9rem;
  }

  .image,
  .even .image {
    top: 0;
    right: 0;
    left: unset;
    transform: none;
  }

  .text,
  .even .text {
    top: unset;
    bottom: 0;
    left: 0;
    right: unset;
    transform: none;
  }

  .even .text footer {
    flex-direction: row;
  }
}

@media (max-width: 960px) {
  .project:not(:last-of-type) {
    margin-bottom: 4rem;
  }

  .text {
    left: 50%;
    transform: translate(-50%, -20%);
    padding: 2rem;
    width: 90%;
  }
}

@media (max-width: 800px) {
  .project {
    height: unset;
  }

  .image {
    position: relative !important;
    width: auto;
  }

  .text {
    position: relative;
    left: unset;
    transform: none;
    width: 100%;
    background: none;
    padding: 2rem 0;
    box-shadow: none;
    border-radius: 0;
  }
}
