.section > h1 {
  font-size: var(--fontSize-8);
  line-height: 1.3;
  margin-bottom: 6rem;
}

.section > p {
  font-size: var(--fontSize-8);
  line-height: 1.3;
}

.section > p:not(:last-of-type) {
  margin-bottom: 4rem;
}

.section {
  margin-bottom: 10rem;
}

.wipList {
  font-size: var(--fontSize-6);
  margin-top: 4rem;
  list-style: disc inside;
}

.wipList li {
  margin: 2rem 0;
}

.projects > h1 {
  font-size: var(--fontSize-8);
}

.projectsList {
  margin-bottom: 6rem;
}
