.image {
  position: absolute !important;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  width: 70%;
}

.even {
  right: unset;
  left: 0;
}

@media (max-width: 1600px) {
  .image,
  .even {
    top: 0;
    right: 0;
    left: unset;
    transform: none;
  }
}

@media (max-width: 800px) {
  .image {
    position: relative !important;
    width: auto;
  }
}
