.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: none;
  align-items: center;
  padding: 4rem 8rem 4rem 4rem;
  background: var(--color-card-background);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
}

.menuItem {
  font-size: var(--fontSize-4);
  font-weight: var(--fontWeight-black);
  margin: 1.5rem 0;
}

.social {
  position: absolute;
  bottom: 2rem;
}

.socialItem {
  display: inline-block;
  margin-right: 1rem;
}

@media (max-width: 1400px) {
  .menu {
    display: flex;
  }
}

@media (max-width: 800px) {
  .menu {
    padding: 2rem 6rem 2rem 2rem;
  }
}
